.rodape{
    background-color: #6278f7;
    display: flex;
}

.rodape-lista{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.rodape-container{
    width: 98vw;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.imagem-logo{
   margin-top: 30px;
   margin-bottom: 30px;
}

.lista-texto{
    color: white;
}